@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@config "../tailwind.config.js";

@theme {
	--color-primary-50: oklch(0.969 0.015 12.422);
	--color-primary-100: oklch(0.941 0.03 12.58);
	--color-primary-200: oklch(0.892 0.058 10.001);
	--color-primary-300: oklch(0.81 0.117 11.638);
	--color-primary-400: oklch(0.712 0.194 13.428);
	--color-primary-500: oklch(0.645 0.246 16.439);
	--color-primary-600: oklch(0.586 0.253 17.585);
	--color-primary-700: oklch(0.514 0.222 16.935);
	--color-primary-800: oklch(0.455 0.188 13.697);
	--color-primary-900: oklch(0.41 0.159 10.272);
	--color-primary-950: oklch(0.271 0.105 12.094);
	--color-primary: var(--color-primary-500);

	--color-info-50: oklch(0.962 0.018 272.314);
	--color-info-100: oklch(0.93 0.034 272.788);
	--color-info-200: oklch(0.87 0.065 274.039);
	--color-info-300: oklch(0.785 0.115 274.713);
	--color-info-400: oklch(0.673 0.182 276.935);
	--color-info-500: oklch(0.585 0.233 277.117);
	--color-info-600: oklch(0.511 0.262 276.966);
	--color-info-700: oklch(0.457 0.24 277.023);
	--color-info-800: oklch(0.398 0.195 277.366);
	--color-info-900: oklch(0.359 0.144 278.697);
	--color-info-950: oklch(0.257 0.09 281.288);
	--color-info: var(--color-info-500);

	--color-error-50: oklch(0.971 0.013 17.38);
	--color-error-100: oklch(0.936 0.032 17.717);
	--color-error-200: oklch(0.885 0.062 18.334);
	--color-error-300: oklch(0.808 0.114 19.571);
	--color-error-400: oklch(0.704 0.191 22.216);
	--color-error-500: oklch(0.637 0.237 25.331);
	--color-error-600: oklch(0.577 0.245 27.325);
	--color-error-700: oklch(0.505 0.213 27.518);
	--color-error-800: oklch(0.444 0.177 26.899);
	--color-error-900: oklch(0.396 0.141 25.723);
	--color-error-950: oklch(0.258 0.092 26.042);
	--color-error: var(--color-error-500);

	--color-warning-50: oklch(0.987 0.022 95.277);
	--color-warning-100: oklch(0.962 0.059 95.617);
	--color-warning-200: oklch(0.924 0.12 95.746);
	--color-warning-300: oklch(0.879 0.169 91.605);
	--color-warning-400: oklch(0.828 0.189 84.429);
	--color-warning-500: oklch(0.769 0.188 70.08);
	--color-warning-600: oklch(0.666 0.179 58.318);
	--color-warning-700: oklch(0.555 0.163 48.998);
	--color-warning-800: oklch(0.473 0.137 46.201);
	--color-warning-900: oklch(0.414 0.112 45.904);
	--color-warning-950: oklch(0.279 0.077 45.635);
	--color-warning: var(--color-warning-500);

	--color-success-50: oklch(0.979 0.021 166.113);
	--color-success-100: oklch(0.95 0.052 163.051);
	--color-success-200: oklch(0.905 0.093 164.15);
	--color-success-300: oklch(0.845 0.143 164.978);
	--color-success-400: oklch(0.765 0.177 163.223);
	--color-success-500: oklch(0.696 0.17 162.48);
	--color-success-600: oklch(0.596 0.145 163.225);
	--color-success-700: oklch(0.508 0.118 165.612);
	--color-success-800: oklch(0.432 0.095 166.913);
	--color-success-900: oklch(0.378 0.077 168.94);
	--color-success-950: oklch(0.262 0.051 172.552);
	--color-success: var(--color-success-500);

	--color-debug-50: oklch(0.985 0.001 106.423);
	--color-debug-100: oklch(0.97 0.001 106.424);
	--color-debug-200: oklch(0.923 0.003 48.717);
	--color-debug-300: oklch(0.869 0.005 56.366);
	--color-debug-400: oklch(0.709 0.01 56.259);
	--color-debug-500: oklch(0.553 0.013 58.071);
	--color-debug-600: oklch(0.444 0.011 73.639);
	--color-debug-700: oklch(0.374 0.01 67.558);
	--color-debug-800: oklch(0.268 0.007 34.298);
	--color-debug-900: oklch(0.216 0.006 56.043);
	--color-debug-950: oklch(0.147 0.004 49.25);
	--color-debug: var(--color-debug-500);
}

@layer components {
	json-viewer {
		padding: 0.2rem 1rem;
		border: 2px solid var(--color-neutral-900);
		border-radius: 0.5rem;

		/* Background, font and indentation */
		--background-color: var(--color-black);
		--color: var(--color-white);
		--font-family: Nimbus Mono PS, Courier New, monospace;
		--font-size: 14px;
		--line-height: 1.2rem;
		--indent-size: 0.8em;
		--indentguide-size: 1px;
		--indentguide-style: solid;
		--indentguide-color: var(--color-neutral-900);
		--indentguide-color-active: var(--color-neutral-800);
		--indentguide: var(--indentguide-size) var(--indentguide-style) var(--indentguide-color);
		--indentguide-active: var(--indentguide-size) var(--indentguide-style)
			var(--indentguide-color-active);
		--outline-color: var(--color-neutral-800);
		--outline-width: 1px;
		--outline-style: dotted;

		/* Types colors */
		--string-color: var(--color-emerald-400);
		--number-color: var(--color-emerald-300);
		--boolean-color: var(--color-emerald-300);
		--null-color: var(--color-rose-400);
		--property-color: var(--color-blue-300);

		/* Collapsed node preview */
		--preview-color: var(--color-blue-300);

		/* Search highlight color */
		--highlight-color: #c92a2a;
	}

	.key {
		font-weight: 800;
	}

	[class*='shj-lang-'] {
		white-space: pre;
		box-sizing: border-box;
		border-radius: 10px;
		margin: 10px 0;
		padding: 30px 20px;
		font-family: Consolas;
	}
	.shj-inline {
		border-radius: 5px;
		margin: 0;
		padding: 2px 5px;
		display: inline-block;
	}
	[class*='shj-lang-']::selection {
		background: #bdf5;
	}
	[class*='shj-lang-'] ::selection {
		background: #bdf5;
	}
	[class*='shj-lang-'] > div {
		display: flex;
		overflow: auto;
	}
	[class*='shj-lang-'] > div :last-child {
		outline: none;
		flex: 1;
	}
	.shj-numbers {
		counter-reset: line;
		padding-left: 5px;
	}
	.shj-numbers div {
		padding-right: 5px;
	}
	.shj-numbers div:before {
		color: #999;
		content: counter(line);
		opacity: 0.5;
		text-align: right;
		counter-increment: line;
		margin-right: 5px;
		display: block;
	}
	.shj-syn-cmnt {
		font-style: italic;
	}
	.shj-syn-err,
	.shj-syn-kwd {
		color: #e16;
	}
	.shj-syn-num,
	.shj-syn-class {
		color: var(--color-emerald-400);
		font-weight: bold;
	}
	.shj-syn-insert,
	.shj-syn-str {
		color: #7d8;
	}
	.shj-syn-bool {
		color: #3bf;
	}
	.shj-syn-type,
	.shj-syn-oper {
		color: #5af;
	}
	.shj-syn-section,
	.shj-syn-func {
		color: #84f;
	}
	.shj-syn-deleted,
	.shj-syn-var {
		color: #f44;
	}
	.shj-oneline {
		padding: 12px 10px;
	}
	.shj-lang-http.shj-oneline .shj-syn-kwd {
		color: #fff;
		background: #25f;
		border-radius: 5px;
		padding: 5px 7px;
	}
	[class*='shj-lang-'] {
		color: #f8f8f2;
		background: var(--color-neutral-900);
	}
	[class*='shj-lang-']:before {
		color: #6f9aff;
	}
	.shj-syn-deleted,
	.shj-syn-err,
	.shj-syn-var {
		color: #ff5261;
	}
	.shj-syn-section,
	.shj-syn-kwd {
		color: var(--color-emerald-300);
		font-weight: bold;
	}
	.shj-syn-class {
		color: var(--color-emerald-300);
	}
	.shj-numbers,
	.shj-syn-cmnt {
		color: #7d828b;
	}
	.shj-syn-insert,
	.shj-syn-type,
	.shj-syn-func,
	.shj-syn-bool {
		color: var(--color-emerald-300);
		font-weight: bold;
	}
	.shj-syn-num {
		color: #b581fd;
	}
	.shj-syn-oper {
		color: #80c6ff;
	}
	.shj-syn-str {
		color: var(--color-emerald-300);
	}
}

@layer base {
	/* width */
	::-webkit-scrollbar {
		background: rgba(0, 0, 0, 0);
		width: 10px;
		height: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0);
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: var(--color-neutral-700);
		border-radius: 15px;
		border: 3px solid var(--color-black);
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: var(--color-neutral-600);
	}

	::-webkit-scrollbar-corner {
		background: rgba(0, 0, 0, 0);
	}
}
