@import '@fontsource-variable/onest';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@config "../tailwind.config.js";

@theme {
	--default-font-family: 'Onest Variable';

	--color-primary-50: oklch(0.969 0.015 12.422);
	--color-primary-100: oklch(0.941 0.03 12.58);
	--color-primary-200: oklch(0.892 0.058 10.001);
	--color-primary-300: oklch(0.81 0.117 11.638);
	--color-primary-400: oklch(0.712 0.194 13.428);
	--color-primary-500: oklch(0.645 0.246 16.439);
	--color-primary-600: oklch(0.586 0.253 17.585);
	--color-primary-700: oklch(0.514 0.222 16.935);
	--color-primary-800: oklch(0.455 0.188 13.697);
	--color-primary-900: oklch(0.41 0.159 10.272);
	--color-primary-950: oklch(0.271 0.105 12.094);
	--color-primary: var(--color-primary-500);

	--color-info-50: oklch(0.96 0.02 240);
	--color-info-100: oklch(0.92 0.04 240);
	--color-info-200: oklch(0.85 0.08 240);
	--color-info-300: oklch(0.75 0.12 240);
	--color-info-400: oklch(0.65 0.16 240);
	--color-info-500: oklch(0.55 0.2 240);
	--color-info-600: oklch(0.45 0.18 240);
	--color-info-700: oklch(0.35 0.14 240);
	--color-info-800: oklch(0.25 0.1 240);
	--color-info-900: oklch(0.2 0.08 240);
	--color-info-950: oklch(0.15 0.05 240);
	--color-info: var(--color-info-500);

	--color-error-50: oklch(0.96 0.02 30);
	--color-error-100: oklch(0.92 0.04 30);
	--color-error-200: oklch(0.85 0.08 30);
	--color-error-300: oklch(0.75 0.12 30);
	--color-error-400: oklch(0.65 0.16 30);
	--color-error-500: oklch(0.55 0.2 30);
	--color-error-600: oklch(0.45 0.18 30);
	--color-error-700: oklch(0.35 0.14 30);
	--color-error-800: oklch(0.25 0.1 30);
	--color-error-900: oklch(0.2 0.08 30);
	--color-error-950: oklch(0.15 0.05 30);
	--color-error: var(--color-error-500);

	--color-warning-50: oklch(0.96 0.02 90);
	--color-warning-100: oklch(0.92 0.04 90);
	--color-warning-200: oklch(0.85 0.08 90);
	--color-warning-300: oklch(0.75 0.12 90);
	--color-warning-400: oklch(0.65 0.16 90);
	--color-warning-500: oklch(0.55 0.2 90);
	--color-warning-600: oklch(0.45 0.18 90);
	--color-warning-700: oklch(0.35 0.14 90);
	--color-warning-800: oklch(0.25 0.1 90);
	--color-warning-900: oklch(0.2 0.08 90);
	--color-warning-950: oklch(0.15 0.05 90);
	--color-warning: var(--color-warning-500);

	--color-success-50: oklch(0.96 0.02 140);
	--color-success-100: oklch(0.92 0.04 140);
	--color-success-200: oklch(0.85 0.08 140);
	--color-success-300: oklch(0.75 0.12 140);
	--color-success-400: oklch(0.65 0.16 140);
	--color-success-500: oklch(0.55 0.2 140);
	--color-success-600: oklch(0.45 0.18 140);
	--color-success-700: oklch(0.35 0.14 140);
	--color-success-800: oklch(0.25 0.1 140);
	--color-success-900: oklch(0.2 0.08 140);
	--color-success-950: oklch(0.15 0.05 140);
	--color-success: var(--color-success-500);

	--color-debug-50: oklch(0.96 0.02 200);
	--color-debug-100: oklch(0.92 0.04 200);
	--color-debug-200: oklch(0.85 0.08 200);
	--color-debug-300: oklch(0.75 0.12 200);
	--color-debug-400: oklch(0.65 0.16 200);
	--color-debug-500: oklch(0.55 0.2 200);
	--color-debug-600: oklch(0.45 0.18 200);
	--color-debug-700: oklch(0.35 0.14 200);
	--color-debug-800: oklch(0.25 0.1 200);
	--color-debug-900: oklch(0.2 0.08 200);
	--color-debug-950: oklch(0.15 0.05 200);
	--color-debug: var(--color-debug-500);
}

@layer components {
	json-viewer {
		padding: 0.2rem 1rem;
		border: 2px solid var(--color-neutral-200);
		border-radius: 0.5rem;

		--background-color: var(--color-neutral-100);
		--color: var(--color-white);
		--font-family: Nimbus Mono PS, Courier New, monospace;
		--font-size: 14px;
		--line-height: 1.2rem;
		--indent-size: 0.8em;
		--indentguide-size: 1px;
		--indentguide-style: solid;
		--indentguide-color: var(--color-neutral-200);
		--indentguide-color-active: var(--color-neutral-400);
		--indentguide: var(--indentguide-size) var(--indentguide-style) var(--indentguide-color);
		--indentguide-active: var(--indentguide-size) var(--indentguide-style)
			var(--indentguide-color-active);
		--outline-color: var(--color-neutral-400);
		--outline-width: 1px;
		--outline-style: dotted;

		--string-color: var(--color-emerald-600);
		--number-color: var(--color-emerald-600);
		--boolean-color: var(--color-emerald-600);
		--null-color: var(--color-rose-400);
		--property-color: var(--color-blue-500);

		--preview-color: var(--color-blue-300);

		--highlight-color: #c92a2a;
	}

	:where(.dark, .dark *) {
		json-viewer {
			--background-color: var(--color-black);
			--color: var(--color-white);
			--font-family: Nimbus Mono PS, Courier New, monospace;
			--font-size: 14px;
			--line-height: 1.2rem;
			--indent-size: 0.8em;
			--indentguide-size: 1px;
			--indentguide-style: solid;
			--indentguide-color: var(--color-neutral-900);
			--indentguide-color-active: var(--color-neutral-800);
			--indentguide: var(--indentguide-size) var(--indentguide-style) var(--indentguide-color);
			--indentguide-active: var(--indentguide-size) var(--indentguide-style)
				var(--indentguide-color-active);
			--outline-color: var(--color-neutral-800);
			--outline-width: 1px;
			--outline-style: dotted;

			--string-color: var(--color-emerald-400);
			--number-color: var(--color-emerald-300);
			--boolean-color: var(--color-emerald-300);
			--null-color: var(--color-rose-400);
			--property-color: var(--color-blue-300);

			--preview-color: var(--color-blue-300);

			--highlight-color: #c92a2a;
		}
	}

	.key {
		font-weight: 800;
	}

	[class*='shj-lang-'] {
		white-space: pre;
		box-sizing: border-box;
		border-radius: 10px;
		margin: 10px 0;
		padding: 30px 20px;
		font-family: Consolas;
	}
	.shj-inline {
		border-radius: 5px;
		margin: 0;
		padding: 2px 5px;
		display: inline-block;
	}
	[class*='shj-lang-']::selection {
		background: #bdf5;
	}
	[class*='shj-lang-'] ::selection {
		background: #bdf5;
	}
	[class*='shj-lang-'] > div {
		display: flex;
		overflow: auto;
	}
	[class*='shj-lang-'] > div :last-child {
		outline: none;
		flex: 1;
	}
	.shj-numbers {
		counter-reset: line;
		padding-left: 5px;
	}
	.shj-numbers div {
		padding-right: 5px;
	}
	.shj-numbers div:before {
		color: #999;
		content: counter(line);
		opacity: 0.5;
		text-align: right;
		counter-increment: line;
		margin-right: 5px;
		display: block;
	}
	.shj-syn-cmnt {
		font-style: italic;
	}
	.shj-syn-err,
	.shj-syn-kwd {
		color: #e16;
	}
	.shj-syn-num,
	.shj-syn-class {
		color: var(--color-emerald-400);
		font-weight: bold;
	}
	.shj-syn-insert,
	.shj-syn-str {
		color: #7d8;
	}
	.shj-syn-bool {
		color: #3bf;
	}
	.shj-syn-type,
	.shj-syn-oper {
		color: #5af;
	}
	.shj-syn-section,
	.shj-syn-func {
		color: #84f;
	}
	.shj-syn-deleted,
	.shj-syn-var {
		color: #f44;
	}
	.shj-oneline {
		padding: 12px 10px;
	}
	.shj-lang-http.shj-oneline .shj-syn-kwd {
		color: #fff;
		background: #25f;
		border-radius: 5px;
		padding: 5px 7px;
	}
	[class*='shj-lang-'] {
		color: #f8f8f2;
		background: var(--color-neutral-900);
	}
	[class*='shj-lang-']:before {
		color: #6f9aff;
	}
	.shj-syn-deleted,
	.shj-syn-err,
	.shj-syn-var {
		color: #ff5261;
	}
	.shj-syn-section,
	.shj-syn-kwd {
		color: var(--color-emerald-300);
		font-weight: bold;
	}
	.shj-syn-class {
		color: var(--color-emerald-300);
	}
	.shj-numbers,
	.shj-syn-cmnt {
		color: #7d828b;
	}
	.shj-syn-insert,
	.shj-syn-type,
	.shj-syn-func,
	.shj-syn-bool {
		color: var(--color-emerald-300);
		font-weight: bold;
	}
	.shj-syn-num {
		color: #b581fd;
	}
	.shj-syn-oper {
		color: #80c6ff;
	}
	.shj-syn-str {
		color: var(--color-emerald-300);
	}
}

@layer base {
	/* width */
	::-webkit-scrollbar {
		background: rgba(0, 0, 0, 0);
		width: 10px;
		height: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: rgba(0, 0, 0, 0);
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: var(--color-neutral-700);
		border-radius: 15px;
		border: 3px solid var(--color-black);
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: var(--color-neutral-600);
	}

	::-webkit-scrollbar-corner {
		background: rgba(0, 0, 0, 0);
	}
}
